<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
</head>
<body>
    <form method="post" th:action="@{/jobs/editJob}" th:object="${jobToEdit}">
        <input type="text" name="jobDetails" placeholder="Job_Details" th:value="${jobToEdit.description}">
        <input type="number" name="datePosted" placeholder="Date_Posted" th:value="${jobToEdit.datePosted}">
        <input type="text" name="companyName" placeholder="Company Name" th:value="${jobToEdit.companyName}">
        <input type="text" name="location" placeholder="Location" th:value="${jobToEdit.location}">
        <input type="text" name="requirements" placeholder="Requirements" th:value="${jobToEdit.requirements}">
        <input type="text" name="description" placeholder="Description" th:value="${jobToEdit.description}">
        <input type="submit" value="Edit">
    </form>
</body>
</html>